@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'PT Serif', serif;
}

body {
    background: #161616; 
}

.Dashboard {
    background-image: url(../Img/Flight_Map_High_Res.webp);
    background-size: 130% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;

    &_Header {
        padding: 15px 0;

        h1{
            display: flex;
            justify-content: center;
            align-items: center;
            color: turquoise;

            i{
                padding-left: 10px;
            }
        }
    
        p{
            padding: 10px 350px;
            display: flex;
            justify-content: center;
        }
    
    }

    &_Contant {
        margin: 0 15px;
    }

    &_About {
        margin: 15px 0;
        p{
            margin: 2px;
            padding: 0 90px;
        }
    }

    &_Statistics {
      
        ul {
            padding-left: 120px;
            margin: 15px;
        
            li {
                padding: 5px;
            }    
        }
    }

    &_Map {

        h2 {
         margin: 20px 0;
        }

        iframe {
            width: 90%;
            height: 400px;
            margin: 0 70px;
        }
    }

    &_Notice {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;

        p {
            padding: 10px;
        }
    }
}

.btn {
    width: 300px;
    height: 25px;
    margin: 0 170px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;

::after {
        content: "";
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #e45603, #f5ce62);       top: 0;
        left: 0;
        border-radius: 10px;
    }

::before {
    content: "";
    background: linear-gradient(45deg, #fa7199, #f5ce62, #e45603, #fa7199 );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
    animation: glow 20s linear infinite;
}

:hover::before {
    opacity: 1;
}

:hover:after {
    background: transparent;
}

a {
    font-size: 15px;
    padding: 0 10px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff;
}
}

@keyframes glow {
    0% 
      {
        background-position: 0 0;
    }
    50% 
      {
        background-position: 400% 0;
    }
    100% 
      {
        background-position: 0 0;
    }
}

.Contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
    
    h4 {
        margin: 10px 0;
        color: #fff;
        font-size: 14px;
    }

    &_Icon {
        display: flex;
        margin: 0 70px;
    
        a {
            position: relative;
            display: block;
            margin-left: 40px;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            background: #333;
            border-radius: 50%;
            font-size: 25px;
            color: #666;
            transition: .5s;
    
            ::before {
                position: absolute;
                top: 0;
                left: 0;
                line-height: 40px;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #333;
                transition: .5s;
                transform: scale(.9);
                z-index: 0;    
            }

            :hover::before {
                transform: scale(1.1);
                box-shadow: 0 0 15px turquoise;
            }

            :hover {
                color: turquoise;
                box-shadow: 0 0 5px turquoise;
                text-shadow: 0 0 5px turquoise;
            }
        }
    }
}

h2 {
    color: #62aef5c5;
    text-transform: uppercase;
}